<!DOCTYPE html>
<html lang="en">
  <script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>
  </script>
  <%- include('header') -%>

  <body class="container">
    <div id="root"><%- initialMarkup -%></div>
    <!-- If put in public folder, then you do not need to specify path -->
    <script src="bundle.js"></script>
  </body>
  <%- include('footer') -%>
</html>
