<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>

  <body class="container">
    <div id="root"><%- content -%></div>
    <!-- If put in public folder, then you do not need to specify path -->
    <script src="bundle.js"></script>
  </body>
  <%- include('footer') -%>
</html>
