<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>

<body class="container">
  <div id="root"><%- content -%></div>
  <script src="bundle.js"></script> // If put in public folder, then you do not need to specify path

</body>
<%- include('footer') -%>

</html>