<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <body class="container">
    <div id="root"><%- content -%></div>
    <script src="../dist/bundle.js" charset="utf-8"></script>
  </body>
  <%- include('footer') -%>
</html>
